/* Fonts */


/* Header Background */
.p_code {
  background-color: #c3effd;
  opacity: 0.95;
}

/* Standard Width and Height of Card Icons */
.sw_h {
    width: 200px;
    height: 200px;
}

/* Color of h6 element for equation and answers */
.answer_color {
  color: red;
}

.equation_color {
  color: green;
}