/* Fonts */


/* Body background */
.bg-pcode {
  background-color: #f1c3a1;
}

/* Header Background */
.p_code {
  background-color: #c3effd;
  opacity: 0.95;
}

/* Container Background */
.bg_cont {
  background-color: #fcf3ec;
}

/* Standard Width and Height of Card Icons */
.sw_h {
    width: 200px;
    height: 200px;
}

/* Color of h6 element for equation and answers */
.answer_color {
  color: red;
}

.equation_color {
  color: green;
}

/* 2 column table set widths */
.w50 {
  width: 50%;
}

/* 3 column table set widths */
.w33 {
  width: 33%;
}

/* 5 column table set widths */
.w20 {
  width: 20%;
}