/* Fonts */


/* Body background */

.bg-pcode {
    background-color: #f1c3a1;
}


/* Header Background */

.p_code {
    background-color: #c3effd;
    opacity: 0.95;
}


/* Container Background */

.bg_cont {
    background-color: #fcf3ec;
}


/* Jumbotron Background */

.jumbo-bg {
    background-color: #ADD8E6;
}


/* Standard Width and Height of Card Icons */

.sw_h {
    width: 200px;
    height: 200px;
}


/* Color of h6 element for equation and answers */

.answer_color {
    color: red;
}

.equation_color {
    color: green;
}


/* 2 column table set widths */

.w50 {
    width: 50%;
}


/* 3 column table set widths */

.w33 {
    width: 33%;
}


/* 5 column table set widths */

.w20 {
    width: 20%;
}


/* Thick line break for tables */

.t_line {
    border-bottom-style: solid;
    border-bottom-width: medium;
}


/* Form Validation */

input:invalid {
    border: 2px dashed red;
}

input:invalid:required {
    background-image: linear-gradient(to right, #ffb09c, #fbd9d3);
}

input:valid {
    border: 2px solid black;
}

.showError {
    display: none;
    font-size: 0.8em;
}

.showError.visible {
    display: block;
}

.invalid-input {
    font-size: 25px;
    margin-left: 45%;
    color: #ff0000;
    text-shadow: 0 0 12.5px #ffff00;
}
